.event{
    display: flex; 
    height: 6rem;
    width: min(100%, 32rem);
}

.event:nth-child(odd) .event_date{
    background: var(--color-softblue);
    height: 100%;
}

.event:nth-child(even) .event_date{
    background: var(--color-darkblue);
    height: 100%;
}

.event_date{
    color: var(--color-white);
    height: 100%;
    width: 6rem;
}

.event_image{
    width: 6rem;
}

.event_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}